/* You can add global styles to this file, and also import other style files */
.divClass {
	margin-top: 50px;
	padding-left: 5px;
}

body {
	margin-left: 0;
}

.isolateClass {
	border-bottom: 1px solid red;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
