<div class="divClass">
  <h1>Data Binding class</h1>
  <div class="isolateClass">
    <h3>Interpolation</h3>
    <p>
      <strong>{{ test }}</strong>
    </p>
    <p>
      My name is <strong>{{ name }}</strong
      >. I'm <strong>{{ age }}</strong> years old.
    </p>
    <p>
      I'm older than 30? <strong>{{ age > 30 }}</strong>
    </p>
  </div>
  <div class="isolateClass">
    <h3>Property Binding</h3>
    <button [disabled]="checkedDisabled">Button disabled</button>
    <img [src]="imgUrl" alt="{{ angularicon }}" />
    <br />
  </div>
  <div class="isolateClass">
    <h3>Event Binding</h3>
    <button (click)="alertInfo($event)">{{ button }}</button>
	 <span>X: {{ positionX }} Y: {{ positionY }}</span>
    <div [class]="classes[divClass]" (mousemove)="mouseMoveTest($event)">
    </div>
  </div>
  <div class="isolateClass">
    <h3>Two-way Binding</h3>
	 <input [(ngModel)]="name">
	 {{name}}
  </div>
</div>
